* {
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    color: #222;
}

div {
    width: 1000px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    width: 1000px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #8c1d40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

#gride-container {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}

nav {
    background-color:#ffc627
}

nav > ul {
    padding: 0;
}

ul > li {
    list-style-type: none;
}

li > a {
    background-color: #bc1d40;
    color: #fff;
    padding: 8px 8px 8px 8px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px;
    margin-left: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: block-level;
}
nav > a:hover {
    background-color: #fff;
    color: #bc1d40;
}

main {
    background-color: #fff;
    padding: 24px;
}

main + a {
    background-color: #8c1d40;
    font-weight: bold;
}
For the links in the main:
Add a background color of #8c1d40 and bold font-weight.
For when the links in the main are being hovered over with a mouse:
Swap the background and text colors and add padding of 4px to all sides.

p {
    color: #444;
}

q {
    color: #444;
    font-style: italic;
}

::target-text {
    background-color: #ffc627;
    color: #555;
    padding: 4px 4px 4px 4px;
    font-size: 20px;
    font-weight: bold;
  }
For the two years in the last paragraph in the main (wrap these in a span with a class of year and target that class):
Add a background color of #ffc627, change the color to #555, add padding to all sides of 4px, a font size of 20px and bold weight.